@{
    ViewData["Title"] = "404 - Not Found";
    Layout = "_Layout";
}

<div class="text-center">
    <h1 class="display-4">404 - Not Found</h1>
    <p class="lead">The requested page could not be found.</p>
</div>

