@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<style>
    .underline {
        text-decoration: underline;
        color: blue;
    }
</style>

<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Normally this would be emailed: <a class="underline" id="confirm-link" href="@Model.EmailConfirmationUrl">Click here to confirm your account</a>
</p>
    }
    else
    {
<p>
        Please check your email to confirm your account.
</p>
    }
}

